# Q1

In [35]:
Old_Students=["carol","Albert","Ben","Donna"]
New_Students=["Phillip","Evans","Samuel","Tina","Eva"]
Old_Students.extend(New_Students)
print ("Total Names of Student:")
print(Old_Students)
print ("............................................")
print ("Total Names of Student:")
Total_Students = len(Old_Students)
print(Total_Students)

Total Names of Student:
['carol', 'Albert', 'Ben', 'Donna', 'Phillip', 'Evans', 'Samuel', 'Tina', 'Eva']
............................................
............................................
Total Numbers of Student:
9

In [41]:
Old_Students=["carol","Albert","Ben","Donna"]
New_Students=["Phillip","Evans","Samuel","Tina","Eva"]
Old_Students.extend(New_Students)
Names_frequency = dict()

print("Total Names of Student\t\tNO.")
print("#############\t\t####")

 
for Names in Old_Students:
    Names_frequency[Names] = 0
    
for Names in Old_Students:
    Names_frequency[Names] += 1
            
    
#for i in range(len(Old_Students)):
    #print(str(i+1) + "." + Old_Students.pop())    
item_no = 0
sum_total = 0
for Names in Names_frequency:
    item_no += 1
    print(str(item_no)+ " . " + Names+"\t\t"+ str(Names_frequency[Names]))
    sum_total += Names_frequency[Names]
print("\n--------------\t\t----")
#print sun total
print ("\nSUM TOTAL:\t\t" + str(sum_total))
print("\n--------------\t\t----")

Total Names of Student		NO.
#############		####
1 . carol		1
2 . Albert		1
3 . Ben		1
4 . Donna		1
5 . Phillip		1
6 . Evans		1
7 . Samuel		1
8 . Tina		1
9 . Eva		1

--------------		----

SUM TOTAL:		9

--------------		----

## Q4

# Q5

In [5]:
Str_numbers= "2 3 4 3 4 3 2 3 9 0 8 3 3 4 7 3"
numbers = Str_numbers.split()
print("1. Covert to List:")
print(numbers)

print("...................:")
print("2. Data Type:")
type(numbers)

1. Covert to List:
['2', '3', '4', '3', '4', '3', '2', '3', '9', '0', '8', '3', '3', '4', '7', '3']
...................:
2. Data Type:

list

# Q6

In [2]:
z = ["2","3","10","1","0","23","15","5","3","12"]

print("First Range of Numbers:")
print(z[0])

print("Last Range of Numbers:")
print(z[-1])

First Range of Numbers:
2
Last Range of Numbers:
12

# Q7

In [6]:
perameters = [n for n in range(50, 81,10)]
print(perameters)

[50, 60, 70, 80]

# Q8

In [7]:
perameters = [n for n in range(-8, 9, 2)]
print(perameters)

[-8, -6, -4, -2, 0, 2, 4, 6, 8]

In [14]:
for i in range(101):
 print (i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [26]:
for i in range(65,91):
 print (chr(i), end=" ")
print ("\n")
for ii in range(97,123):
 print (chr(ii), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

a b c d e f g h i j k l m n o p q r s t u v w x y z

SyntaxError: invalid syntax (841704674.py, line 1)