In [1]:
i = 2
j = 5

In [2]:
i, j = j, i

In [3]:
print("i = " + str(i), "j = " + str(j))

i = 5 j = 2

In [4]:
def switch (i,j):
    val1, val2 = j, i
    return val1, val2

In [27]:
i, j= switch(i,j)
print (val1, val2)

2 5

In [31]:
def add(a,b):
    ab = a + b
    return ab

In [32]:
x = 3
y = 7
result =add(x,y)

In [33]:
result

10

In [65]:
def mean(a,b,c,d):
    ab=(a+b+c+d)/4
    return ab

In [74]:
a=2
b=4
c=6
d=8
xy=mean(a,b,c,d)
xy

5.0

In [ ]:
# def square(x):
    ab=(x*x)
    return ab

In [83]:
y=8
yz=square(y)
yz

64

### function assignment

In [4]:
def print_9_times_table():
    for i in range(1, 13):
        print("9 x", i, "=", 9 * i)

print_9_times_table()

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

In [2]:
def sum_even(my_list):
    product = 1
    for num in my_list:
        if num % 2 == 0:
            product *= num
    return product

my_list = [3, 12, 5, 1, 2, 6]
print(sum_even(my_list))

144

In [3]:
def absolute_value(num):
    if num < 0:
        return -num
    else:
        return num
print(absolute_value(-5))

5